body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#f3f3f3f3;
}
h4{
	display:inline;
	padding-right:60px;
	padding-left:20px;
	font-weight:bolder;
}

a {
  color: #00B7FF;
}
.deleteBtn{
	background-color:darkred;
	color:black;
	border-radius:5%;
	padding:15px 20px;
	border:none;
}
.deleteBtn:focus{
	outline:none;
	background-color:red;
}
#adminName{
	height:auto;
	width:100%;
}
